<!DOCTYPE html>
<html>
  <head>
    <title>LiverUp</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <script type="text/javascript">
      window.bg_image = "<%= image_url('background.png') %>";
      window.profile = "<%= image_url('profile-liver_up.jpeg') %>";
      window.logo = "<%= image_url('liver_up_logo.png') %>";
      window.check = "<%= image_url('check.jpeg') %>";

    </script>
  </head>

  <body>
    <%= yield %>
  </body>
</html>
