<!DOCTYPE html>
<html>
  <head>
    <title>LiverUp</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <script type="text/javascript">
      window.bg_image = "<%= image_url('background.png') %>";
      window.profile = "<%= image_url('profile-liver_up.jpg') %>";
      window.logo = "<%= image_url('liver_up_logo.png') %>";
      window.check = "<%= image_url('check.png') %>";
      window.cocktails = "<%= image_url('cocktail.png') %>";
      window.zeroDrunks = "<%= image_url("0_drunks.png") %>";
      window.oneDrunk= "<%= image_url("1_drunk.png") %>";
      window.twoDrunks = "<%= image_url("2_drunks.png") %>";
      window.threeDrunks = "<%= image_url("3_drunks.png") %>";
      window.fourDrunks = "<%= image_url("4_drunks.png") %>";
      window.fiveDrunks = "<%= image_url("5_drunks.png") %>";
      window.camera = "<%= image_url("camera.png") %>";
      window.buds = "<%= image_url("liver-up-logo.png") %>";
      window.user1 = "<%= image_url("1-user.png") %>";
      window.user2 = "<%= image_url("2-user.png") %>";
      window.user3 = "<%= image_url("3-user.png") %>";
      window.user4 = "<%= image_url("4-user.png") %>";
      window.user5 = "<%= image_url("5-user.png") %>";
      window.user6 = "<%= image_url("6-user.png") %>";
      window.user7 = "<%= image_url("7-user.jpg") %>";
    </script>
    
  </head>

  <body>
    <%= yield %>
  </body>
</html>
